<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
<link rel="stylesheet" href="./index.css">
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
  
  
  <title>FAQ Accordion Card</title>


</head>
<body>

  <main class="card">
    
<section class="section">
</section>
<section class="section">
<h2>FAQ</h2>
<div class="containerQ">
<P class="question">How many team members can I invite?</P><button class="btn">&#709;</button>
</div>
<hr>
<div class="containerQ">
<P class="question">What is the maximum file upload size?</P><button class="btn">&#709;</button>
</div>
<hr>
<div class="containerQ">
<P class="question">How do I reset my password?</P><button class="btn">&#709;</button>
</div>
<hr>
<div class="containerQ">
<P class="question">Can I cancel my subscription?</P><button class="btn">&#709;</button>
</div>
<hr>
<div class="containerQ">
<P class="question">Do you provide additional support?</P><button class="btn">&#709;</button>
</div>
<hr>
</section>
<img src="../images/illustration-woman-online-desktop.svg" alt="" class="woman">





<!-- 
  You can invite up to 2 additional users on the Free plan. There is no limit on 
  team members for the Premium plan.

  
  No more than 2GB. All files in your account must fit your allotted storage space.

  
  Click “Forgot password” from the login page or “Change password” from your profile page.
  A reset link will be emailed to you.

  
  Yes! Send us a message and we’ll process your request no questions asked.

  
  Chat and email support is available 24/7. Phone lines are open during normal business hours. -->

  </main>
  <img src="../images/bg-pattern-desktop.svg" alt="" class="pattern">
  <img src="../images/illustration-box-desktop.svg" alt="" class="box">

  <script src="./index.js"></script>
</body>
</html>